@page "/"
@using System.Threading.Tasks
@if (Rom.EstaCargado)
{<div @onkeypress="OnKeyPress">
        <VisorImagenes Items="Rom.Pokemon" ConvertToBitmap="@((PokemonGBAFramework.Core.Pokemon p)=>p.Sprites.Frontales.Sprites[0])" OnClick="@((PokemonGBAFramework.Core.Pokemon pokemon)=> { Pokemon.Errante =pokemon; })" First="@First" />

        @if (Pokemon != default)
        {
            <div>
                <div>Nivel: <input type="number" @bind="Pokemon.Nivel" /></div>
                <div>Vida: <input type="number" @bind="Pokemon.Vida" />/@Pokemon.Errante.Stats.CalculaHp((int)(ushort)Pokemon.Nivel)</div>
                <div>Turnos: <input type="number" @bind="Pokemon.TurnosDormido" /><VisorEstado Estado="Dormido" /></div>
                @foreach (string estado in stats)
                {

                    <VisorEstado Estado="estado" OnClick="@((bool seleccionado)=> {
                                                                switch (estado)
                                                                {
                                                                    case "Congelado":Pokemon.Congelado = seleccionado;break;
                                                                    case "Quemado":Pokemon.Quemado = seleccionado;break;
                                                                    case "Paralizado":Pokemon.Paralizado = seleccionado;break;
                                                                    case "Envenenado":Pokemon.Envenenado = seleccionado;break;
                                                                    case "EnvenadoGrave":Pokemon.EnvenenadoGrave = seleccionado;break;

                                                                }

                                                            })" />

                }
                <div>
                    @PokemonErrante.GetScript(Rom.Edicion, Pokemon).GetDeclaracionXSE($"Pokemon{Pokemon.Errante.Nombre}Errante")
                </div>
            </div>
        }
    </div>
}
else
{
    <CargarRom />
}
@code{
    [CascadingParameter] RomPokemon Rom { get; set; }
    PokemonErrante.Pokemon Pokemon { get; set; } = new PokemonErrante.Pokemon();
    int First = 0;
    string[] stats = { "Quemado", "Congelado", "Paralizado", "Envenenado", "EnvenadoGrave" };

    void OnKeyPress(KeyboardEventArgs k)
    {
        if (k.Key == "Left")
            First += 10;
        else if (k.Key == "Right")
            First -= 10;
        else if (k.Key == "Up")
            First--;
        else if (k.Key == "Down")
            First++;

        if (First < 0)
            First = Rom.Pokemon.Count - 1;
        else if (First >= Rom.Pokemon.Count)
            First = 0;
    }
}