@page "/"

@if (Rom.EstaCargada)
{<div @onkeypress="@((KeyboardEventArgs k)=> { if (k.Key == "Left") First += 10; else if (k.Key == "Right") First -= 10; else if (k.Key == "Up") First--; else if (k.Key == "Down") First++; if (First < 0) First = Rom.Pokedex.Count - 1; else if (First >= Rom.Pokedex.Count) First = 0; })">
        <VisorPokedex Pokedex="Rom.Pokedex" OnClick="@((PokemonCompleto pokemon)=> {if(PokemonErrante!=null) PokemonErrante.PokemonErrante = pokemon; })" First="@First" />

        @if (PokemonErrante!=null&&PokemonErrante.PokemonErrante != null)
        {
            <div>
                <div>Nivel: <input type="number" @bind="PokemonErrante.Nivel" /></div>
                <div>Vida: <input type="number" @bind="PokemonErrante.Vida" />/@PokemonErrante.PokemonErrante.Stats.CalculaHp(PokemonErrante.Nivel)</div>
                <div>Turnos: <input type="number" @bind="PokemonErrante.TurnosDormido" /><VisorEstado Estado="PokemonGBAFrameWork.PokemonErrante.Pokemon.Stat.Dormido" /></div>
                @foreach (PokemonGBAFrameWork.PokemonErrante.Pokemon.Stat estado in Enum.GetValues(typeof(PokemonErrante.Pokemon.Stat)))
                {
                    @if (estado != PokemonGBAFrameWork.PokemonErrante.Pokemon.Stat.Dormido)
                    {
                        <VisorEstado Estado="estado" OnClick="@((bool seleccionado)=> { PokemonErrante.SetStatNoDormido(estado,seleccionado); })" />
                    }
                }
                <div>
                 @PokemonGBAFrameWork.PokemonErrante.Pokemon.GetScript(Rom.Rom.Edicion, PokemonErrante).GetDeclaracionXSE($"PokemonErrante{PokemonErrante.PokemonErrante.Nombre.Texto}")
                </div>
            </div>
        }
    </div>
}
else
{
    <CargarRom />
}
@code{
    [CascadingParameter] RomPokemon Rom { get; set; }
    PokemonErrante.Pokemon PokemonErrante = null;// new PokemonErrante.Pokemon();
    int First = 0;


}